<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>마이페이지 :: MOIM</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
     <link href="navbar-top-fixed.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-grid.css" rel="stylesheet">


	</head>
	<body>
        <div id="jb-container">
    <header>

        <div id="jb-header"><h1><br></h1></div>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/home">Moim</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                 <% if (user.provider == undefined || user.provider == '') { %>
        <a href="/profile/profile_main" class="p-2 text-white"><%= user.name %> 님 환영합니다</a>
        <a href="/logout" class="p-2 text-dark"><span class="fa fa-sign-in"></span></a>
        <% } %>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout  <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" href="#">App download</button>
          </li>
        </ul>
        </form>
      </div>
          </nav>
    </header>


            <main role="main">

            <br><br><br>

            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1><i class="fas fa-wallet"></i>토큰 관리</h1><br>

                    <form action="/token" method="post">

                        <div class="mb-4">
                            <h3>
                                <%= user.name %>님의 토큰 보유량 : <%= tokenAmount %><i class="fas fa-cubes"></i></h3>
                        </div>
                        <div class="mb-4">
                            --사용 내역 --
                        </div>
                        <div style="overflow:scroll; width:500px; height:150px; padding:10px; ">
                            <% for(var i=0; i<history.length; i++){ %>
                            <li>
                                <%= history[i].history%>
                            </li>
                            <% } %>
                        </div>

                        <div class="mb-4">
                            <label for="token">반환할 토큰</label>
                            <input type="text" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                반환할 토큰량을 입력하시오.
                            </div>
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">토큰 반환하기</button>
                    </form>
                </div>
            </div>
        </main>
	</div>
	</body>
</html>
