<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>모임 시작 :: MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
	</head>
	<body>
    <header>
       <div class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/home" class="p-2 text-dark">MOIM</a>
        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <a href="#" class="p-2 text-dark"><span class="fa fa-search"></span></a>
        <% if (user.provider == undefined || user.provider == '') { %>
        <a href="/profile/profile_main" class="p-2 text-blue"><%= user.name %> 님 환영합니다</a>
        <a href="/logout" class="p-2 text-dark"><span class="fa fa-sign-in">
        <% } %>
        </span></a>
        </nav>
</div>
    </header>
    <br><br><br>
    <main role="main" class="container">
          <div class="jumbotron">
              <h1 class="mb-4">모임 시작하기</h1>
              <p class="lead mb-4">모집 상태</p>
              <% if(moim.max_num == moim.count){%>
              <p class="lead mb-4">"희망 모집 인원에 도달했습니다."</p>
              <%}%>
              <% if(moim.max_num != moim.count){%>
              <p class="lead mb-4">"희망 모집 인원에 도달하지 못했습니다."</p>
              <%}%>
              <% if(moim.finish_at == Date.now()){%>
              <p class="lead mb-4">"모집 기간이 종료되었습니다"</p>
              <%}%>
              <% if(moim.finish_at != Date.now()){%>
              <p class="lead mb-4">"모집 기간이 종료되지 않았습니다"</p>
              <%}%>
              <br><br>
        
              <form action="/approval" method="post" >
			      <div class="mb-4">
                  <label for="confirm">계속 진행하려면 '모임시작' 버튼을 눌러주세요</label>
                  </div>

                 <input type="hidden" name="moimid" value="<%=moim._id%>">
                 <button class="btn btn-primary btn-lg btn-block mb-2" type="submit">모임시작</button>
			    </form>
                <a class="btn btn-primary btn-lg btn-block" href="javascript:history.back();" role="botton">돌아가기</a>
          </div>
              
        </main>
	</body>
</html>