<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>모임 만들기 :: MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
	</head>
	<body>
    <header>
       <div class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/home" class="p-2 text-dark">MOIM</a>
        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <a href="#" class="p-2 text-dark"><span class="fa fa-search"></span></a>
        </nav>
     </div>
    </header>

    <main role="main">
        <br><br><br>
		<div class="container">

			<div class="jumbotron">
		
			    <h1><span class="fa fa-sign-in"></span>새로운 모임 만들기</h1><br>
			
			    <form action="/make_info" method="post" >
			      <div class="mb-4">
                  <label for="title">모임 이름</label>
                  <input type="email" class="form-control" name="title" required>
                    <div class="invalid-feedback">
                    모임 이름을 입력해주세요
                    </div>
                 </div>

                  <div class="mb-4">
                  <label for="introduction">소개</label>
                  <input type="text" class="form-control" name="introduction" required>
                   <div class="invalid-feedback">
                    모임 소개를 입력해주세요
                   </div>
                  </div>
                    
                   <div class="mb-4">
                  <label for="keyword">주제</label>
                  <select calss="custom-select d-block w-100" name="keyword" required>
                       <option value>선택</option>
                       <option>친목</option><option>자격증</option><option>다이어트</option></select>
                   <div class="invalid-feedback">
                   주제를 선택해주세요
                   </div>
                  </div>
			
			     <hr class="mb-4">
                 <button class="btn btn-primary btn-lg btn-block" type="submit">만들기</button>
			    </form>
			
			    <hr>
			
                <p>자세한 약관을 읽으시려면 <a href="/#">클릭</a></p>

			</div>
		
		</div>
      </main>
	</body>
</html>