<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>My MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
	</head>
	<body>
    <header>
    </header>
        
       <main role="main">
    <br><br><br>
      <section class="container">
              <h1 class="jumbotron-heading">내 모임</h1><br>
                     
                
                <section class = mb-4>
                <div class = mb-4>
                <h3> 운영 중인 모임 </h3>
                </div>
                                    
                <h5> 전체보기 </h5>
                    <% if(Moim.length>0){ %>
                        <% var i=0;%>
                        <% Moim.forEach(function(Moim){%>
                        <%i++;%>
                        <tr>
                            <div class="mb-2">
                            <td class="title">모임이름<a href="/moimDetail?id=<%= Moim.moim_id%>"><%= Moim.moim_id %></a></td>
                            <td for="data">날짜<%=Moim.createdAt%></td>
                            <td for="state">진행상태<%=Moim.state%></td>
                            </div>
                        </tr>
                        <%})%>
                        <%}else{%>
                        <tr>
                            <td class="noData" colspan="5"> 모임이 없습니다 :'( </td>
                        </tr>
                    <%}%>
                    
                
                <h5> 진행 중 </h5>
                </section>
               
                <section class = mb-4>
                <div class = mb-4>
                <h3> 참여 중인 모임 </h3>
                </div>
                
                <h5> 모집 중 </h5>
                
                <h5> 참여 중 </h5>
                </section>
             
         
    </section>
     
            
        
        </main>			
	</body>
</html>