<!DOCTYPE html>
<html lang=en>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>회원정보수정 :: MOIM</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
	</head>
	<body>
    
    <header>
       <% include ./login_header.ejs%>
    </header>
        
    <main role="main">
        
        <br><br><br>

		  <div class="container"> 
            <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span>회원정보 수정</h1><br>

            <form action="/profile_modify" method="post">
            <div class="mb-4">
              <label for="email">회원 이메일 : <%=email%></label>
                
            </div>
                  
            <div class="mb-4">
              <label for="username">닉네임 : <%=name%></label>
              
            </div>

            <div class="mb-4">
              <label for="password">비밀번호</label>
              <input type="password" class="form-control" name="password" required>
              <div class="invalid-feedback">
                Please enter your new password.
              </div>
            </div>
            <div class="mb-4">
              <label for="password">비밀번호 확인</label>
              <input type="password" class="form-control" name="password" placeholder="비밀번호 재입력"  required>
              <div class="invalid-feedback" style="width: 100%;">
                  정확히 입력하여주세요
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">수정</button>
              </form>
              </div>
            </div>
        </main>
	</body>
</html>
