/* 헤더 아이콘 깨지는 문제 : 부트스트랩 4 버전으로 바꾸기 */

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>새로운 모임 :: MOIM</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/plugins/piexif.min.js" type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
        This must be loaded before fileinput.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/plugins/sortable.min.js" type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
        HTML files. This must be loaded before fileinput.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/plugins/purify.min.js" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/fileinput.min.js"></script>
    <!-- optionally uncomment line below for loading your theme assets for a theme like Font Awesome (`fa`) -->
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/themes/fa/theme.min.js"></script -->
    <!-- optionally if you need translation for your language then include  locale file as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/locales/LANG.js"></script>


    <script src="./config/datepicker.kr.js" charset="UTF-8"></script>
    <script type='text/javascript'>
        $(function() {

            $('.input-group.date').datepicker({

                calendarWeeks: false,

                todayHighlight: true,

                autoclose: true,

                format: "yyyy/mm/dd",

                language: "kr"

            });

        });

    </script>



    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="jb-header">
            <h1><br></h1>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/home">Moim</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <ul class="navbar-nav mr-auto">

                            <% if (user.provider == undefined || user.provider == '') { %>
                            <a href="/profile/profile_main" class="p-2 text-white">
                                <%= user.name %> 님 환영합니다</a>
                            <a href="/logout" class="p-2 text-dark"><span class="fa fa-sign-in"></span></a>
                            <% } %>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-success my-2 my-sm-0" href="#">App download</button>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container">

            <div class="col-sm-8">

                <h1>새로운 모임 만들기</h1><br>


                <form action="/new/new_moim" method="post">
                    <div class="mb-4">
                        <label for="title">모임명</label>
                        <input type="text" class="form-control" name="title" required>
                        <div class="invalid-feedback">
                            모임명을 입력해주세요
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="introduction">모임소개</label>
                        <input type="text" class="form-control" name="introduction" required>
                        <div class="invalid-feedback">
                            모임소개를 입력해주세요
                        </div>
                    </div>

                    <!--체크박스로 여러가지 주제 가능. 그게 아니라면 라디오버튼으로-->
                    <div class="mb-4">
                        <label for="keyword">모임주제</label>
                        <br>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value = "친목"> 친목
                         </label>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value="운동"> 운동
                        </label>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value="스터디">스터디
                        </label>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value="투자"> 투자
                        </label>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value="코딩"> 코딩
                        </label>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value="공모전"> 공모전
                        </label>
                        <label class="checkbox-inline mr-4">
                            <input type="checkbox" name="keyword" value="문화"> 문화
                        </label>
                    </div>

                    <div class="mb-4">
                        <label for="min_num">최소인원</label>
                        <input type="text" class="form-control" name="min_num" required>
                        <div class="invalid-feedback">
                            최소인원을 입력해주세요
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="max_num">최대인원</label>
                        <input type="text" class="form-control" name="max_num" required>
                        <div class="invalid-feedback">
                            최대인원을 입력해주세요
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="location">지역</label>
                        <select class="custom-select d-block w-100" name="location" required>
                            <option value>선택</option>
                            <option>서울특별시 강남구</option>
                            <option>서울특별시 서대문구</option>
                            <option>서울특별시 은평구</option>
                            <option>경기도 군포시</option>
                            <option>제주시</option>
                            <div class="invalid-feedback">
                                지역을 입력해주세요
                            </div>
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="start">시작일</label>

                        <div class="form-group">
                            <input id="start" />
                            <script>
                                $('#start').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });

                            </script>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="finish">종료일</label>

                        <div class="form-group">
                            <input id="finish" />
                            <script>
                                $('#finish').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });

                            </script>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="start_at">모집 시작일</label>

                        <div class="form-group">
                            <input id="start_at" />
                            <script>
                                $('#start_at').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });

                            </script>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="finish_at">모집 종료일</label>

                        <div class="form-group">
                            <input id="finish_at" />
                            <script>
                                $('#finish_at').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });

                            </script>
                        </div>
                    </div>
                    
                    <div class="mb-4" style="height: 200px">
                        <label for="upload">사진 등록</label>
                        <input id="input-b2" name="file" type="file" class="file"> 
                    </div>
                    
                    
                    <br><br><br><br><br>


                    <script type="text/javascript">
                        $(function() {
                                    $('#start').datetimepicker({
                                        uiLibrary: 'bootstrap4',
                                        iconsLibrary: 'fontawesome',
                                        minDate: today,
                                        maxDate: function() {
                                            return $('#endDate').val();
                                        }
                                    });
                                    $('#finish').datetimepicker({
                                        useCurrent: false //Important! See issue #1075
                                        uiLibrary: 'bootstrap4',
                                        iconsLibrary: 'fontawesome',
                                        minDate: function() {
                                            return $('#startDate').val();
                                        }
                                    });

                    </script>




                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">모임 만들기</button>
                </form>

                <hr>

                <p>자세한 약관이 궁금하신가요? <a href="/#">확인하기</a></p>
                <p><a href="/">홈으로</a>.</p>

            </div>

        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    
</body>

</html>
